flows.json
[{"id":"2c51d310.03ff8c","type":"tab","label":"Simwood","disabled":false,"info":""},{"id":"7ec57863.81ce68","type":"tab","label":"Apidaze","disabled":false,"info":""},{"id":"d5601e81.4a4f9","type":"tab","label":"temp","disabled":true,"info":""},{"id":"7631c5ca.9f5f5c","type":"tab","label":"Provisioning Number","disabled":false,"info":""},{"id":"acfddfbd.93b88","type":"tab","label":"Configure webhook","disabled":false,"info":""},{"id":"47379d89.e40f14","type":"mongodb3","z":"","uri":"${MONGODB_URI}","name":"","options":"","parallelism":"-1"},{"id":"b2ef2a1d.b5cc68","type":"http in","z":"2c51d310.03ff8c","name":"","url":"/simwoodsms","method":"post","upload":false,"swaggerDoc":"","x":130,"y":60,"wires":[["a291e595.475378","f364f3c6.4103c","810f3453.92e4d8","bd1e799b.6e1878"]]},{"id":"a291e595.475378","type":"debug","z":"2c51d310.03ff8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":60,"wires":[]},{"id":"f364f3c6.4103c","type":"http response","z":"2c51d310.03ff8c","name":"","statusCode":"200","headers":{},"x":380,"y":100,"wires":[]},{"id":"c2ee8326.748ce","type":"http in","z":"2c51d310.03ff8c","name":"","url":"/simwooddlr","method":"post","upload":false,"swaggerDoc":"","x":130,"y":340,"wires":[["4dd774f9.6c625c","63f9abda.1c3d64","3d6db91.f56c646"]]},{"id":"4dd774f9.6c625c","type":"http response","z":"2c51d310.03ff8c","name":"","statusCode":"200","headers":{},"x":380,"y":380,"wires":[]},{"id":"63f9abda.1c3d64","type":"debug","z":"2c51d310.03ff8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":340,"wires":[]},{"id":"e223b198.38cfb","type":"inject","z":"2c51d310.03ff8c","name":"","topic":"","payload":"{\"data\":{\"destination\":\"447537149876\",\"length\":10,\"message\":\"Hey there\",\"originator\":\"421903419345\",\"time\":\"2019-10-12 13:10:49\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["810f3453.92e4d8"]]},{"id":"4aa52b97.b43cd4","type":"http request","z":"2c51d310.03ff8c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.simwood.com/v3/messaging/931186/sms","tls":"","proxy":"","authType":"basic","x":530,"y":180,"wires":[["a291e595.475378","43114584.4ec50c"]]},{"id":"810f3453.92e4d8","type":"function","z":"2c51d310.03ff8c","name":"","func":"msg.payload = { to: msg.payload.data.originator, from: msg.payload.data.destination, message: \"you've sent: \" + msg.payload.data.message, report: \"https://${APP_NAME}.herokuapp.com/simwooddlr\", extended: 1 };\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nmsg.url = \"https://api.simwood.com/v3/messaging/\" + env.get(\"SIMWOOD_CID\") + \"/sms\";\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["4aa52b97.b43cd4"]]},{"id":"3d6db91.f56c646","type":"json","z":"2c51d310.03ff8c","name":"","property":"payload.payload","action":"","pretty":false,"x":370,"y":440,"wires":[["3c5be948.4fb5a6"]]},{"id":"43114584.4ec50c","type":"json","z":"2c51d310.03ff8c","name":"","property":"payload","action":"","pretty":false,"x":710,"y":180,"wires":[["de27e2be.e63db"]]},{"id":"60a04441.6f53fc","type":"http in","z":"7631c5ca.9f5f5c","name":"Provision a number","url":"/provision-number","method":"post","upload":false,"swaggerDoc":"","x":170,"y":280,"wires":[["9ff64978.eebca8","f08c10e6.14426"]]},{"id":"9ff64978.eebca8","type":"function","z":"7631c5ca.9f5f5c","name":"","func":"flow.set('accountId', msg.payload.account_id);\nflow.set('authorization', msg.req.headers.authorization);\n\nmsg.url = `https://api.simwood.com/v3/numbers/${flow.get('accountId')}/available/standard/1?pattern=447*`;\nmsg.headers = {\n    'Accept': 'application/json',\n    'Authorization': flow.get('authorization'),\n    'Content-Type': 'application/json'\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":360,"wires":[["cb7b53a.07cbbb"]]},{"id":"fcbf5e2.2b42aa","type":"http response","z":"7631c5ca.9f5f5c","name":"","statusCode":"200","headers":{},"x":720,"y":580,"wires":[]},{"id":"cb7b53a.07cbbb","type":"http request","z":"7631c5ca.9f5f5c","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":490,"y":360,"wires":[["322da863.71a458","bbf1f24d.c4298"]]},{"id":"322da863.71a458","type":"debug","z":"7631c5ca.9f5f5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":360,"wires":[]},{"id":"af1c1923.5d1a58","type":"http request","z":"7631c5ca.9f5f5c","name":"","method":"PUT","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":490,"y":480,"wires":[["387fc459.ebcb0c","3691c73.e5d6338"]]},{"id":"bbf1f24d.c4298","type":"function","z":"7631c5ca.9f5f5c","name":"","func":"const number = msg.payload[0].country_code + msg.payload[0].number;\n\nflow.set('number', number);\n\nmsg.url = `https://api.simwood.com/v3/numbers/${flow.get('accountId')}/allocated/${flow.get('number')}`;\n\nmsg.headers = {\n    'Accept': 'application/json',\n    'Authorization': flow.get('authorization'),\n    'Content-Type': 'application/json'\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":480,"wires":[["af1c1923.5d1a58"]]},{"id":"387fc459.ebcb0c","type":"debug","z":"7631c5ca.9f5f5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":480,"wires":[]},{"id":"f08c10e6.14426","type":"debug","z":"7631c5ca.9f5f5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":360,"y":220,"wires":[]},{"id":"ca918e04.f9ec6","type":"function","z":"7631c5ca.9f5f5c","name":"","func":"msg.payload = {\n    number: flow.get('number')\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":560,"wires":[["fcbf5e2.2b42aa","9db44818.2ccaa8"]]},{"id":"3691c73.e5d6338","type":"switch","z":"7631c5ca.9f5f5c","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"neq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":580,"wires":[["ca918e04.f9ec6"],["b33196f5.df8f58","9db44818.2ccaa8"]]},{"id":"b33196f5.df8f58","type":"http response","z":"7631c5ca.9f5f5c","name":"","statusCode":"400","headers":{},"x":720,"y":660,"wires":[]},{"id":"9db44818.2ccaa8","type":"debug","z":"7631c5ca.9f5f5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":500,"y":780,"wires":[]},{"id":"2f9cda73.419cf6","type":"http in","z":"2c51d310.03ff8c","name":"","url":"/simwoodcall","method":"post","upload":false,"swaggerDoc":"","x":130,"y":540,"wires":[["daf5ada0.d9c99","25332d2f.129972","aceb409d.81899"]]},{"id":"25332d2f.129972","type":"http response","z":"2c51d310.03ff8c","name":"","statusCode":"200","headers":{},"x":380,"y":580,"wires":[]},{"id":"daf5ada0.d9c99","type":"debug","z":"2c51d310.03ff8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":540,"wires":[]},{"id":"1b7f25ca.5835fa","type":"http in","z":"acfddfbd.93b88","name":"Configure a webhook","url":"/webhook","method":"post","upload":false,"swaggerDoc":"","x":140,"y":180,"wires":[["1d83a3b8.f5127c","11d43160.bb037f"]]},{"id":"1d83a3b8.f5127c","type":"function","z":"acfddfbd.93b88","name":"","func":"flow.set('accountId', msg.payload.account_id);\nflow.set('authorization', msg.req.headers.authorization);\nflow.set('number', msg.payload.number);\nflow.set('endpoint', msg.payload.endpoint);\n\nmsg.url = `https://api.simwood.com/v3/numbers/${flow.get('accountId')}/allocated/${flow.get('number')}/sms`;\n\nmsg.payload = {\n    mode: 'http_json',\n    endpoint: flow.get('endpoint')\n};\n\nmsg.headers = {\n    'Accept': 'application/json',\n    'Authorization': flow.get('authorization'),\n    'Content-Type': 'application/json'\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":260,"wires":[["7113e2f0.6dbbdc","cf21e747.93fe98"]]},{"id":"7113e2f0.6dbbdc","type":"http request","z":"acfddfbd.93b88","name":"","method":"PUT","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":450,"y":260,"wires":[["cf21e747.93fe98","8b56c9de.3bd758"]]},{"id":"cf21e747.93fe98","type":"debug","z":"acfddfbd.93b88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":140,"wires":[]},{"id":"11d43160.bb037f","type":"debug","z":"acfddfbd.93b88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":320,"y":120,"wires":[]},{"id":"74615d55.b56704","type":"http response","z":"acfddfbd.93b88","name":"","statusCode":"200","headers":{},"x":680,"y":360,"wires":[]},{"id":"8b56c9de.3bd758","type":"switch","z":"acfddfbd.93b88","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"neq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":360,"wires":[["74615d55.b56704"],["52080d5b.2dc4c4","2283d7f8.987bb8"]]},{"id":"52080d5b.2dc4c4","type":"http response","z":"acfddfbd.93b88","name":"","statusCode":"400","headers":{},"x":680,"y":440,"wires":[]},{"id":"2283d7f8.987bb8","type":"debug","z":"acfddfbd.93b88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":460,"y":560,"wires":[]},{"id":"7bb65f93.897f","type":"inject","z":"d5601e81.4a4f9","name":"","topic":"","payload":"{\"from\":\"xxx\",\"to\":\"yyy\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["5ff9af72.e5cb7"]]},{"id":"16b2738d.1b180c","type":"http request","z":"d5601e81.4a4f9","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.apidaze.io/5hyyn2ed/calls?api_secret=4bfd199902f9a58d9c8a89df6cd86106&callerid=12282286789&origin=4915116767503&destination=12053861343&type=number","tls":"","proxy":"","authType":"","x":510,"y":80,"wires":[["f0694d3a.ea45f"]]},{"id":"f0694d3a.ea45f","type":"debug","z":"d5601e81.4a4f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":80,"wires":[]},{"id":"5ff9af72.e5cb7","type":"function","z":"d5601e81.4a4f9","name":"","func":"msg.headers = {\n    'Content-Type': 'application/x-www-form-urlencoded'\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":80,"wires":[["16b2738d.1b180c"]]},{"id":"bd1e799b.6e1878","type":"mongodb3 in","z":"2c51d310.03ff8c","service":"_ext_","configNode":"47379d89.e40f14","name":"Mongo SMS IN","collection":"smss","operation":"insertOne","x":400,"y":240,"wires":[["5fafb24c.48fc5c"]]},{"id":"3c5be948.4fb5a6","type":"mongodb3 in","z":"2c51d310.03ff8c","service":"_ext_","configNode":"47379d89.e40f14","name":"Mongo DLR","collection":"dlrs","operation":"insertOne","x":550,"y":440,"wires":[["63f9abda.1c3d64"]]},{"id":"de27e2be.e63db","type":"mongodb3 in","z":"2c51d310.03ff8c","service":"_ext_","configNode":"47379d89.e40f14","name":"Mongo SMS OUT","collection":"sentsmss","operation":"insertOne","x":890,"y":180,"wires":[["821132ed.8fc33"]]},{"id":"aceb409d.81899","type":"mongodb3 in","z":"2c51d310.03ff8c","service":"_ext_","configNode":"47379d89.e40f14","name":"Mongo Call","collection":"calls","operation":"insertOne","x":390,"y":640,"wires":[["daf5ada0.d9c99"]]},{"id":"5ea7b9ff.a5e428","type":"http in","z":"7ec57863.81ce68","name":"","url":"/apidazecall","method":"get","upload":false,"swaggerDoc":"","x":120,"y":60,"wires":[["6fe0650f.53ba1c","b39d30d5.031cc","d14dc99a.aaa468"]]},{"id":"b62665d9.0c06e8","type":"http response","z":"7ec57863.81ce68","name":"","statusCode":"200","headers":{},"x":560,"y":60,"wires":[]},{"id":"6fe0650f.53ba1c","type":"function","z":"7ec57863.81ce68","name":"","func":"msg.payload = \"<document><work><speak>Hello. Please hold while your call is being connected.</speak><dial timeout='120'><number>\" + flow.get(\"origin\") + \"</number></dial><hangup/></work></document>\";\nmsg.headers = {\n    'Content-Type': 'text/xml'\n};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":60,"wires":[["b62665d9.0c06e8"]]},{"id":"b39d30d5.031cc","type":"debug","z":"7ec57863.81ce68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":120,"wires":[]},{"id":"ebd03e6f.6e3b","type":"http in","z":"7ec57863.81ce68","name":"","url":"/catcall","method":"post","upload":false,"swaggerDoc":"","x":130,"y":320,"wires":[["430fca34.cd0a74","d14dc99a.aaa468","ab3610ca.91439"]]},{"id":"b2d7d5d5.831708","type":"http response","z":"7ec57863.81ce68","name":"","statusCode":"200","headers":{},"x":580,"y":320,"wires":[]},{"id":"430fca34.cd0a74","type":"function","z":"7ec57863.81ce68","name":"","func":"flow.set(\"origin\",msg.payload.destination);\nflow.set(\"destination\",msg.payload.origin);\nflow.set(\"callid\",msg.payload.callid);\nmsg.payload=\"Here we go...\";\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["b2d7d5d5.831708","4f08637e.51005c"]]},{"id":"4f08637e.51005c","type":"function","z":"7ec57863.81ce68","name":"","func":"msg.headers = {\n    'Content-Type': 'application/x-www-form-urlencoded'\n};\nmsg.url=\"https://api.apidaze.io/\" + env.get(\"APIDAZE_KEY\") + \"/calls?api_secret=\" + env.get(\"APIDAZE_SECRET\") + \"&callerid=\" + flow.get(\"callid\") + \"&origin=\" + flow.get(\"destination\") + \"&destination=\" + env.get(\"APIDAZE_DID\") + \"&type=number\";\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":380,"wires":[["315bc1f.2110c3e"]]},{"id":"315bc1f.2110c3e","type":"http request","z":"7ec57863.81ce68","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":750,"y":380,"wires":[["1f6582a7.d1920d"]]},{"id":"1f6582a7.d1920d","type":"debug","z":"7ec57863.81ce68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":220,"wires":[]},{"id":"d14dc99a.aaa468","type":"mongodb3 in","z":"7ec57863.81ce68","service":"_ext_","configNode":"47379d89.e40f14","name":"Mongo Apidaze","collection":"apidazes","operation":"insertOne","x":380,"y":220,"wires":[["1f6582a7.d1920d"]]},{"id":"ab3610ca.91439","type":"debug","z":"7ec57863.81ce68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":380,"wires":[]},{"id":"5fafb24c.48fc5c","type":"debug","z":"2c51d310.03ff8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":240,"wires":[]},{"id":"821132ed.8fc33","type":"debug","z":"2c51d310.03ff8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1100,"y":180,"wires":[]}]
